<div class="menu-page" (mousedown)="isFirstTime ? onMouseDown() : null">
    <div class="background-container"></div>
    <div class="content-container">
        @if(isMusicStarted){
            <div class = "sound-button" (click)="this.disableSound()">♬</div>
        }
        @else {
            <div class = "sound-button" (click)="this.onMouseDown()">🔇</div>
        }
        <div class="top-container">
            <div class="top-left-container">
                <div class="logo-container">
                    <p class="team-number">Equipe #204</p>
                </div>
            </div>

            <div class="top-right-container">
                <div>
                    <div class="top-right-text">Mohamed Omar Zedek</div>
                    <div class="icon-magikarp pokemon-icon"></div>
                </div>
                <div>
                    <div class="top-right-text">Mathieu Lambert</div>
                    <div class="icon-pikachu pokemon-icon"></div>
                </div>
                <div>
                    <div class="top-right-text">Souhayl Sejjari</div>
                    <div class="icon-mew pokemon-icon"></div>
                </div>
                <div>
                    <div class="top-right-text">Selim Mahjoub</div>
                    <div class="icon-psyduck pokemon-icon"></div>
                </div>
                <div>
                    <div class="top-right-text">Samer Chebair</div>
                    <div class="icon-eevee pokemon-icon"></div>
                </div>
                <div>
                    <div class="top-right-text">Aziz Maaref</div>
                    <div class="icon-vulpix pokemon-icon"></div>
                </div>
            </div>
        </div>

        <div class="bot-container">
            <app-menu-button
                [containerClass]="'blue-container'"
                [spriteImage]="'./assets/images/menu/pokemons/normal/blastoise.png'"
                [textContent]="'Rejoindre <br/>Partie'"
                [routePath]="pageEndpoint.Join"
                (click)="this.audioService.playEffect(this.clickValue)"
            >
            </app-menu-button>

            <app-menu-button
                [containerClass]="'orange-container'"
                [spriteImage]="'./assets/images/menu/pokemons/normal/charizard.png'"
                [textContent]="'Créer <br/>Partie'"
                [routePath]="pageEndpoint.Create"
                (click)="this.audioService.playEffect(this.clickValue)"
            >
            </app-menu-button>

            <app-menu-button
                [containerClass]="'green-container'"
                [spriteImage]="'./assets/images/menu/pokemons/normal/venusaur.png'"
                [textContent]="'Modifier <br/>Partie'"
                [routePath]="pageEndpoint.Admin"
                (click)="this.audioService.playEffect(this.clickValue)"
            >
            </app-menu-button>
        </div>
    </div>
</div>
