<div class="pop-up">
    <div class="title">Ajouter un robot</div>
    <div class="options">
        <div class="option" (click)="onProfileSelection(playerType.BotAggressive)">
            <div class="check-box" [ngClass]="{ selected: selectedProfile === playerType.BotAggressive }"></div>
            <p>Agressif</p>
        </div>
        <div class="option" (click)="onProfileSelection(playerType.BotDefensive)">
            <div class="check-box" [ngClass]="{ selected: selectedProfile === playerType.BotDefensive }"></div>
            <p>Défensif</p>
        </div>
    </div>
    <div class="button-section">
        <div class="button">
            <app-pokeball-button [buttonContent]="'AJOUTER'" [delay]="0" [onClickAction]="onValiderSelection.bind(this)"></app-pokeball-button>
        </div>
    </div>
</div>
